.contact-form{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #f2f2f2;
    padding: 1rem;
    border-radius: 2%;
}
.centered-button{
    text-align: center;
}