h1{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
td{
    text-align: left;
    vertical-align: middle;
}
th{
    text-align: center;
    vertical-align: middle;
}
.price{
    font-weight: bold;
}